.Container{
    display:grid;
    grid-template-areas:"head head " 
    "sidebar mainContent" 
}
    
.Container>.sides{
    grid-area: sidebar;
    background-color: grey;
    width:150px;
    height:655px;
}
   
.sides ul{
    list-style: none;
    padding:10px;
    margin:10px;
}   



i{
    padding: 5px;
}


a{
    text-decoration: none;
    color: black;
}


#bugIcon{
    padding-left: 30px;
    padding-right: 20px;
}


#powericon{
    padding-left: 9px;
}
    
.Container>.Top{
    color: white;
   background-color: black;
   display:flex;
   grid-area:head;
}
    
    
.Container>.Main{
    grid-area:mainContent;
    margin-right: 0px;
    padding-right: 0px;
    width:900px;
    margin-left:-200px;
    padding-left:0px;

}
    
 
    
#sidebox{
    border: 2px solid #DEDEDE;
    padding:10px;
    list-style: none;
    width:150px;
    background-color: #ECECEC;
    border-radius:5px;

}
  
  #sidebox li{
    margin-bottom: 15px;
  }
  
  #sidebox span{
      font-weight: bolder;
  }
  
  
 .btn{
    display:block;
    width:170px;
    padding:9px;
    border-radius:5px;

}

#rightSide{
    padding-left: 150px;
}
  
  
#flex{
      display: flex;
      flex-direction:row;
}


#description{
    display: block;
    width:800px;
}

  
#JobDetails{
      width:70%;
}

    
#closed{
    background-color: #1E90FF;
}

        
#progress{
    background-color: #02b875;
}    

