.Container{
    display:grid;
    grid-template-areas:"head head"
                         "sidebar mainContent";
    }
    .Container>.sides{
        grid-area: sidebar;
        background-color: grey;
        width:150px;
    }
    .Container>.Top{
        color: white;
        background-color: black;
        display:flex;
          grid-area:head;
    }
    .Container>.Main{
            grid-area: mainContent;
            display:flex;
            flex-direction: column;
            width:500px;
            margin-left: -475px;
    }
    div.Area1{
            display:flex;
            flex-direction: column;
    }
    button{
            color:white;
            background-color: blue;
    }
    label{
            font-weight: bold;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
/*CSS HOME*/
.filterbtn{
	background-color: white;
	color: black;
}

.filterbtn.selected{
	background-color: blue;
	colour: white
}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.yellow{
	background-color: green;
}

.white{
	colour: white
}

.Homepage-Flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*CSS HOME*/